
/* Style the container */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the heading */
  .login-heading {
    font-size: 24px;
    color: #436850;
    margin-bottom: 20px;
  }
  
  /* Style the input fields */
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style the link */
  .login-link {
    display: block;
    color: #436850;
    margin-bottom: 15px;
  }
  
  /* Style the button */
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #436850;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #34563e;
  }
  .p {
    /* Vos styles CSS existants */
  
    /* Ajoutez ces styles pour centrer le texte, augmenter sa taille et le rendre blanc */
    text-align: center; /* Pour centrer le texte */
    font-size: 40px; /* Taille de police augmentée */
    color: white; /* Couleur du texte blanc */
    background-color: #436850;

  }
  .small-text {
    font-size: 18px; /* Taille de police plus petite */
  }